.home-container {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  height: auto;
}
@media screen and (min-width: 768px) {
  .small-carousel {
    display: none;
  }
  .small-find-books-btn {
    display: none;
  }
}
.home-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}
.home-main-heading {
  font-family: roboto;
  font-size: 30px;
  color: #1e293b;
}
.home-content {
  font-family: Inter;
  color: #475569;
  font-size: 20px;
  font-weight: 400;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  height: 400px;
  width: 1100px;
  border-radius: 10px;
  margin-left: 80px;
  padding: 10px;
}
.carousel-heading {
  color: #1e293b;
  font-weight: 600;
  font-size: 24px;
  font-family: Inter;
}
.carousel-header {
  display: flex;
  justify-content: space-between;
}
.find-books-btn {
  margin-top: 10px;
  height: 35px;
  width: 120px;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  background-color: #0284c7;
  border-width: 0px;
}
.list-items {
  display: flex;
  list-style-type: none;
}
.something-went-wrong-img {
  height: 300px;
  width: 300px;
}
.something-went-wrong-content {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #475569;
}
.something-went-wrong-btn {
  width: 164px;
  height: 48px;
  background-color: #0284c7;
  border-radius: 12px;
  color: #ffffff;
  border-radius: 10px;
  border-width: 0px;
}
.something-went-wrong-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 50px;
}
.cover-pic {
  width: 350px;
  height: 224px;
}
.book-title {
  font-family: Intel;
  font-weight: bold;
  font-size: 24px;
  color: #334155;
}
.book-author-name {
  font-family: Intel;
  font-weight: 500;
  font-size: 14px;
  color: #64748b;
}

@media screen and (max-width: 768px) {
  .carousel-container {
    height: 250px;
    width: 320px;
    padding: 5px;
    margin-left: 10px;
  }
  .home-container {
    padding: 5px;
    height: 100vh;
  }
  .home-text-container {
    margin-left: 10px;
  }
  .cover-pic {
    height: 50px;
    width: 25px;
  }
  .book-title {
    font-size: 14px;
  }
  .large-carousel {
    display: none;
  }
  .small-find-books-btn {
    margin-top: 10px;
    height: 35px;
    width: 85px;
    border-radius: 6px;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    background-color: #0284c7;
    border-width: 0px;
    margin-bottom: 5px;
  }
  .find-books-btn {
    display: none;
  }
  .home-main-heading {
    font-size: 25px;
  }
  .home-content {
    font-size: 18px;
  }
}
