.navbar-container {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
}
.active-nav-item {
  color: #0284c7;
  list-style-type: none;
  font-family: roboto;
  font-size: 20px;
  margin-right: 20px;
  display: flex;
}
.small-navbar-container {
  display: none;
}

.nav-item {
  list-style-type: none;
  font-family: roboto;
  color: #64748b;
  font-size: 20px;
  margin-right: 20px;
  display: flex;
}
.unOrder-items {
  display: flex;
}
.logout-btn {
  margin-top: 10px;
  height: 35px;
  width: 80px;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  background-color: #0284c7;
  border-width: 0px;
}
.bookHub-text {
  font-family: Almendra SC;
  color: #0284c7;
  font-weight: 400;
  font-size: 24px;
}
.container {
  display: flex;
}
.website-logo {
  height: 30px;
  width: 30px;
  margin-top: 15px;
}
.link-item {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navbar-container {
    display: none;
  }
  .website-logo {
    height: 25px;
    width: 25px;
  }
  .small-navbar-container {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  .hamburger {
    height: 30px;
    width: 30px;
    margin-top: 20px;
  }
  .bookHub-text {
    font-size: 20px;
  }
  .nav-link-container {
    display: flex;
  }
}
